#container {
  position: relative;
  width: 500px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  width: inherit;
  height: inherit;
}

#listview {
  position: absolute;
  background: white;
  opacity: .9;
  bottom: 0;
  z-index: 1000;
  padding: 10px;
  width: inherit;
  box-sizing: border-box;
  font-size: 12px;
}

.listview-name {
  font-weight: bold;
  font-size: 12px;
}

.listview-header {
  border-bottom: 3px solid #e87825;
}

.close-list {
  float: right;
  cursor: pointer;
}

/* travel radius */

#travel {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #57585A;
  box-sizing: content-box;
  overflow: hidden;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  z-index: 1;
}

#travel:hover {
  cursor: pointer;
}

.travel-open {
  width: 120px;
}

.travel-closed {
  width: 40px;
}

#travel-icons {
  margin-bottom: 3px;
}

/* Popup override */
.esriPopup {
  visibility: hidden !important;
}